*.parquet
*.csv
*.log
*.tmp
__pycache__
.env
venv
notes.txt
**/.DS_Store
**/.jsonl
**/.jsonl.all
data/inference/*
data/prompts/*
data/prs/*
data/tasks/*
data/validated-tasks/*
**/*.md
parsers/*
validation_results/*
repos/*
**/start_here.md
tokens.txt
logs/*
data/prs_*/
data/tasks_*/
data/instances/
data/docker_images/
full_prediction_*/
mobiledev_bench/collect/
mobiledev_bench/crawl/
mobiledev_bench/inference_deprecated/
mobiledev_bench/inference/
mobiledev_bench/fdroid/
mobiledev_bench/logs/
mobiledev_bench/validation/
data/results/

.gitignore_inference
SWE-bench/
analyze_patch_languages.py
data/prompts_dep/
data/repos/
enhanced_log_summaries.py
failed_gemini_25_prediction_ids.txt
fetch_issue_labels.py
filter_instances.py
filter_pr_instances.py
log_summaries.py
mobiledev_bench/__init__.py
test_prediction_results/
update_instances_with_problem_statements.py
annotation/
