aiohttp
anthropic
asyncio
chardet
# concurrent-futures
# dataclasses
dataclasses-json>=0.6.0
docker==7.1.0
fastcore
ghapi
GitPython
openai>=1.0.0
javalang>=0.13.0
pandas
python-dotenv
pyyaml
requests
tenacity
tiktoken
toml>=0.10.2
transformers
tree-sitter==0.20.4
typing-extensions
tqdm
unidiff
# uuid
xmltodict
